@CHARSET "UTF-8";
.red {
	color: red;
	font-size: 200%;
}

.green {
	color: green;
	font-size: 200%;
}

aside {
	float: left;
    position: relative;
	width: 25%;
	min-width: 180;
	margin: 10;
}

section {
	float: left;
    position: relative;
	width: 65%;
    margin-left: 10px;
	margin: 10;
	display: inline-block;
}

/*
div, span, p{
    border: 1px solid red;
}*/

footer {
	clear: both;
  	margin-bottom: 0;
}